<%- include('../layout/head.ejs') %>
<%- include('../layout/css.ejs') %>
<title>Document</title>
</head>

<body>
  <%- include('../layout/header.ejs') %>

  <h1 class="main-header">About Us</h1>
  <!--Things-->


  <%- include('../layout/footer.ejs') %>
</body>

</html>