<%- include('../layout/head.ejs') %>
<%- include('../layout/css.ejs') %>
  <title>Document</title>
</head>
<body>
  <%- include('../layout/header.ejs') %>


    <!--Things-->


  <%- include('../layout/footer.ejs') %>
</body>
</html>