<%- include('../layout/head.ejs') %>
<%- include('../layout/css.ejs') %>
<title>Document</title>
</head>

<body>
  <%- include('../layout/header.ejs') %>

  <h1 class="main-header">About Us</h1>
  <div id="all-about-us">
    <div class="about-us">
      <img src="/img/photo-sarah-301.JPG">
      >
      <h3 class="about-name">Sarah Gilliam</h3>
      <p>Sarah fell in love with programming when she was a little kid making Lisa Frank-inspired websites (they were
        the bomb.com!) She was working in the event industry and decided it wasn’t for her anymore. Cue Code Fellows!
        Now she works hard at defeating the dark side, and using code to do it.</p>


    </div>
    <div class="about-us">
      <img src="/img/Adrian-3.jpg">
      <h3 class="about-name">Adrian Huebner</h3>
      <p>Adrian spent her time before Code Fellows working as a barista. She is pursing a career in Software Developer
        because of her loving of learning difficult material. While Adrian isn’t at school, she is either practicing her
        CSS skills or playing with her family’s new puppy.</p>

    </div>
    <div class="about-us">
      <img src="/img/Jon-2-resized.jpg">
      <h3 class="about-name">Jon Veach</h3>
      <p>Jon spent the last 9 years in the Navy as an IT and had traveled the world causing all kinds of shenanigans. He
        is on the track to become a Professional Software Developer and continue to grow in the tech industry. Jon
        enjoys spending his free time playing in the mud and climbing rocks - with his Jeep, of course, or just chilling
        at home with his cat.</p>

    </div>
    <div class="about-us">
      <img src="/img/susanna.JPG">
      <h3 class="about-name">Susanna Lakey</h3>
      <p>Susanna spent the last 5 years working and volunteering in animal shelters. She is pursuing a career in
        Software Development for the potential for growth and learning. Susanna enjoys spending time with her husband
        and 3 cats, playing board games, and practicing yoga.
      </p>

    </div>
  </div>


  <%- include('../layout/footer.ejs') %>
</body>

</html>