<!-- 
< include('../layout/head.ejs') %>
- include('../layout/css.ejs') %> -->

<link href="styles/boardresult.css" type="text/css" rel="stylesheet" />

<title>Document</title>

<body>
  <!-- < include('../layout/header.ejs') %> -->
  <div id="conversation">
    <div id="yoda-side">
      <img id="yoda" src="/img/yode_full_body.png" alt="yoda" title="yoda" />
      <div id="yodaTextBubble"><div class="bubbleText"></div></div>
    </div>
  </div>


<script src="js/boardresult.js"></script>
<%- include('../layout/footer.ejs') %>
</body>