
<%- include('../layout/head.ejs') %>
<%- include('../layout/css.ejs') %>

<link href="styles/board.css" type="text/css" rel="stylesheet" />

<title>Document</title>

<body>
  <%- include('../layout/header.ejs') %>


  <div class="centerx">
    <div id="four_in_a_row_container">
    <table id="four_in_a_row_grid" cellspacing=5 cellpadding=0></table>
    </div>

    <div id="leaderboard">
      <p id="leaderboardMessage"></p>
      <a href="/"><button id="goToLeaderboard">Home</button></a>
    </div>

    <img id="imageSlideInYoda" src="../img/yode_full_body.png" alt="Yoda" title="Yoda"></img>

  </div>


<script src="js/board.js"></script>
<%- include('../layout/footer.ejs') %>
</body>
