<%- include('../layout/head.ejs') %>
<%- include('../layout/css.ejs') %>
  <title>404</title>
</head>
<body>
    <%- include('../layout/header.ejs') %>


  <h1>This is not the page you are looking for....</h1>


  <%- include('../layout/footer.ejs') %>
</body>
</html>