<%- include('../layout/head.ejs') %>
<%- include('../layout/css.ejs') %>
<title>Document</title>
</head>

<body>
  <%- include('../layout/header.ejs') %>


  <div id="choose-game">
    <form id="triva_link" class="form1" action="/triva" method="get">
      <button class="button">Trivia</button>
    </form>

    <form id="triva_link" class="form1" action="/simon" method="get">
      <button class="button">Simon</button>
    </form>
  </div>


  <%- include('../layout/footer.ejs') %>
</body>

</html>