
<%- include('../layout/head.ejs') %>
<%- include('../layout/css.ejs') %>
<link href="styles/digital.css" type="text/css" rel="stylesheet" />
<link href="styles/simon.css" type="text/css" rel="stylesheet" />
<title>Document</title>
</head>

<body>
  <%- include('../layout/header.ejs') %>

  <div id="simon-flex">
    <div class="simon_container">
      <div class="simon_button" id="simon_top_left"></div>
      <div class="simon_button" id="simon_top_right"></div>
      <div class="simon_button" id="simon_bottom_left"></div>
      <div class="simon_button" id="simon_bottom_right"></div>
      <div class="simon_center">
        <div id="simon_points">0000</div>
        <div id="simon_start_button"></div>
      </div>
    </div>
  </div>

  <img id="leia-full-body" src="/img/leia_full_body.png" />
  <h1 class="main-header">Leia Says</h1>
  <script src="https://cdn.jsdelivr.net/npm/sharer.js@latest/sharer.min.js"></script>
  <script src="js/simon.js"></script>
  <%- include('../layout/footer.ejs') %>
</body>