

body {
  /* background-image: url('../img/starry2.jpg'); */
  background: white;
  background-repeat: no-repeat;
  color: black;
  width: 375px;

}

#trivia-box {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
 
}

#trivia-box form {
  justify-content: center;
}

#trivia-answers {
  display: flex;
  flex-direction: column;
}

#question-title {
  text-align: center;
  width: 100%;
  margin-top: 100px;
}

#form_container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
/* margin-left: 20px; */
}

#form_container h1 {
  margin-right: 15px;

}

#choose-game {
  display: flex;
  justify-content: center;
  margin-top: 150px
}

#choose-game button {
  margin: 25px;
}

#simon-flex {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

@media (min-width: 768px) and (max-width: 960px){
  
  body {
    width: 768px;
    background: white;
    background-size: cover;                  
    background-repeat: no-repeat;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }

  #form_container {
    display: flex;
    justify-content: center;
    margin-top: 150px;
  }

}

@media all and (min-width: 960px){ 

  body {
    width: 960px;
    background: white;
    background-size: cover;                  
    background-repeat: no-repeat;
    margin: auto;
  }

  #form_container {
    display: flex;
    justify-content: center;
    margin-top: 150px;
  }
}
