<div id="sabers">
  <div id="yoda">
    <div class="plasma" id="yoda-plasma"></div>
    <div class="hilt"></div>
  </div>

  <div id="vader">
    <div class="plasma" id="vader-plasma"></div>
    <div class="hilt"></div>
  </div>
  <div id="obi">
    <div class="plasma" id="obi-plasma"></div>
    <div class="hilt"></div>
  </div>
</div>

<div id="links">
  <a href="/">Home</a>
  <a href="/start">Take quiz</a>
  <a href="/scores">Highscores</a>
</div>