<% function getRandomNumber(min, max) { %>
  <%  return Math.floor(Math.random() * (max - min)) + min; %>
  <% } %>


  <% let recentQuestion = []; %>
  
  <% function getUniqueIndex() { %>
  <%  let randomIndex = getRandomNumber(0, StarWarsData.answers.length - 1); %>
  <%  while (recentQuestion.includes(randomIndex)) { %>
  <%    randomIndex = getRandomNumber(0, StarWarsData.answers.length); %>
  <%  } %>
  <%  if (recentQuestion.length > StarWarsData.answers.length) { %>
  <%    recentQuestion.shift(); %>
  <%  } %>
  <%  recentQuestion.push(randomIndex); %>
  <%  return randomIndex; %>
  <% } %>
  
  
  <% for (let i = 0; i < StarWarsData.answers.length; i++) { %>
    <% let randomQuestionNumber = getUniqueIndex(); %>
  <button name="answer" value="<%=StarWarsData.answers[randomQuestionNumber].correct%>"><%= StarWarsData.answers[randomQuestionNumber].value %></button>
  <% } %>