<h2>Simon</h2>
<table id="score-table">
    <tr>
      <th>Name</th>
      <th>Score</th>
      <th>Date</th>
    </tr>
    <tr>
      <% for (let i = 0; i < scores.length; i++) { %>
      <td><%= scores[i].username %></td>
      <td id="score-td"><%= scores[i].score %></td>
      <td id="date-td"><%= scores[i].date %> </td>
    </tr>
    <% } %>
  </table>